table {
    width : 200px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.flex-container {
display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 0%;
}